/* Default styles for all screen sizes */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.back {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background-image: url(gifs/stars.gif);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px);
    height: 100%;
    width: 100%;
}

.ico {
    border-radius: 25px;
}

.main {
    letter-spacing: 10px;
    color: #e3e2e1;
    text-shadow: black 1px 1px;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    font-family: "George", serif;
    font-size: 61.13px;
}

.main p {
    font-size: 20px;
}

.main h1 {
    display:inline-block
}

.main img {
    top: 13px;
    position: relative;
    display:inline-block;
    width: 90px; 
    height: 90px;
}

@font-face {
    font-family: "George";
    src: url("fonts/Kinetic-Light.otf") format("opentype");
}

@media only screen and (max-width: 768px) {
    .main_text {
        font-size: 35px;
    }
    .main img{
        width: 20px;
        height: 20px;
    }

}


/* Media Query for screens between 768 and 1024 pixels */
@media only screen and (min-width: 768px) and (max-width: 1450px) {
    .main h1 {
        font-size: 85px;
    }
}

/* Media Query for screens larger than 1024 pixels */
@media only screen and (min-width: 1450px) {
    .main h1 {
        font-size: 85px;
    }
}